<div class="tab_con">
    <div class="true">
        <%= @notice %>
    </div>
    <input type="text" class="status" value="<%= @status == true ? 1 : 0 %>" >
</div>
<div class="tab_btn"><a href="javascript:void(0)" class="orange_btn" onclick="continue_question(this)">继续</a></div>