<% if @question %>
<script>
$(document).ready(function(){
    $("article").css("overflow","auto");
    <% if @is_first == true %>
        popup("#start"); 
    <% end %>

    var cw = document.documentElement.clientWidth;
    $(".ex_title").css("width",cw-40 + "px");
    $(".ex_con").css("width",cw-40 + "px");
    $(".btn_box").css("width",cw-40 + "px");

})
setInterval('startTime()', 1000);

    function func1(){
        window.document.oncontextmenu = function(){ self.event.returnValue=true;}//默认为 null;
        window.document.onselectstart = function(){ return true;}
    }
</script>
<section class="exercises">
	<div class="ex_title">
    	<div class="timer"><p style="width: 100%;"></p><input type="hidden" class="time" value="180"></div>
        <div id="number" class="num_red">0</div>
    </div>
    <div class="ex_con" >
        <%= render "one_que", {:question => @question, :words_count => @words_count} %>
    </div>
</section>
<section class="btn_box" style="position: fixed;">
    <input type="hidden" value="" class="current_question_id">
    <input type="hidden" value="<%= @step %>" class="step">
    <input type="hidden" value="0" class="correct_counts">
    <input type="hidden" value="<%= @question.id %>" class="questions_id">
	<a href="javascript:void(0)" class="finish_btn s_btn" onclick="check_answer(this)" id="finish_btn" ></a>
    <a href="javascript:void(0)" class="back_btn_dark s_btn" id="back_step_btn" ></a>
</section>
<% else %>
    <section class="exercises">
        当前等级下没有可做的题目
    </section>  
<% end %>

<div id="result" class="tab" style="display:none; max-height:400px; overflow:auto;">
</div>

<div id="time_limit" class="tab" style="display:none;">
    <div class="tab_con">
        <div class="time">
            时间到了。
        </div>
    </div>
    <div class="tab_btn"><a href="javascript:void(0)" class="orange_btn" onclick="view_score(this)">查看成绩</a></div>
</div>    


<div id="unlock_level" class="tab" style="display:none;">
    <div class="tab_title">
        <h1 class="reply_icon">等级完成</h1>
    </div>
    <div class="tab_con">
        <p class="level_name">下一级：加载中</p>
        <p class="reduce_gold_number">解锁费用：计算中…</p>
    </div>
    <div class="tab_btn"><a href="javascript:void(0)" class="orange_btn" onclick="unlock_next_level(this)">解锁等级</a></div>
</div>

<div id="next_period"   class="tab" style="display:none;">
    <div class="tab_con">
        <div class="welcome">
            恭喜通过简单练习，下面进入复杂练习
        </div>
        <div class="tab_btn"><a href="javascript:void(0)" class="orange_btn" onclick="$(this).parents('.tab').hide();$('#panel').hide();">继续</a></div>
    </div>    
</div>

<div id="finish_all" class="tab" style="display:none;">
    <div class="tab_con">
        <div class="time">
            恭喜，您已通关！
        </div>
    </div>
    <div class="tab_btn"><a href="javascript:void(0)" class="orange_btn" onclick="view_score(this)">查看成绩</a></div>
</div>

<div id="start" class="tab" style="display:none;">
    <div class="tab_con">
        <div class="welcome">
            欢迎来到句子酷，在三分钟内至少答对五道题可获金币奖励！
        </div>
    </div>
    <div class="tab_btn"><a href="javascript:void(0)" class="orange_btn" onclick="$('#panel').hide();$(this).parents('.tab').hide()">知道了</a></div>
</div>