<% if @question %>
<script>
setInterval('startTime()', 1000);
</script>
<section class="exercises">
	<div class="ex_title">
    	<div class="timer"><p style="width: 100%;"></p><input type="hidden" class="time" value="60"></div>
        <div class="num">60</div>
    </div>
    <div class="ex_con" >
        <%= render "one_que", {:question => @question} %>
    </div>
</section>
<section class="btn_box">
    <input type="hidden" value="" class="current_question_id">
    <input type="hidden" value="<%= @step %>" class="step">
    <input type="hidden" value="0" class="correct_counts">
	<a href="javascript:void(0)" class="gray_btn s_btn" id="finish_btn" >完成</a>
    <a href="javascript:void(0)" class="gray_btn s_btn" id="back_step_btn" >退一步</a>
</section>
<% else %>
    <section class="exercises">
        当前等级下没有可做的题目
    </section>  
<% end %>

<div id="result" class="tab" style="display:none; max-height:400px; overflow:auto;">
</div>

<div id="time_limit" class="tab" style="display:none;">
    <div class="tab_con">
        <div class="false">
            时间到了。
        </div>
    </div>
    <div class="tab_btn"><a href="javascript:void(0)" class="orange_btn" onclick="view_score(this)">查看成绩</a></div>
</div>    


<div id="unlock_level" class="tab" style="display:none;">
    <div class="tab_title">
        <h1 class="reply_icon">等级完成</h1>
    </div>
    <div class="tab_con">
        <p class="level_name">下一级：加载中</p>
        <p class="reduce_gold_number">解锁费用：计算中…</p>
    </div>
    <div class="tab_btn"><a href="javascript:void(0)" class="orange_btn" onclick="unlock_next_level(this)">解锁等级</a></div>
</div>

<div id="next_period"   class="tab" style="display:none;">
    <div class="tab_con">
        <div class="true">
            恭喜通过简单练习，下面进入复杂练习
        </div>
        <div class="tab_btn"><a href="javascript:void(0)" class="orange_btn" onclick="$(this).parents('.tab').hide();$('#panel').hide();">继续</a></div>
    </div>    
</div>