<section class="exercises">
	<div class="ex_title">
    	<div class="timer"><p style="width: 50%;">剩余 30 秒</p></div>
        <div class="num">2</div>
    </div>
    <div class="ex_con" >
        <%= render "one_que", {:question => @question} %>
    </div>
</section>
<section class="btn_box">
    <input type="hidden" value="" class="current_question_id">
    <input type="hidden" value="<%= @step %>" class="step">
    <input type="hidden" value="0" class="correct_counts">
	<a href="javascript:void(0)" class="gray_btn s_btn" id="finish_btn" >完成</a>
    <a href="javascript:void(0)" class="gray_btn s_btn" id="back_step_btn" >退一步</a>
</section>


<div id="result" class="tab" style="display:none;">
</div>

