<section class="news">
	<h1>如何关注句子酷</h1>
    <div class="sh"><span>2014-04-22</span><a href="weixin://contacts/profile/gh_26ae912c4b06"><span style="color:#5099fd;">句子酷</span></a></div>
    <div class="news_icon"></div>
    <p>句子酷，简单有效学英语。</p>
</section>