<section class="ad">
    <ul>
        <li class="ad01"></li>
        <li class="ad02"></li>
        <li class="ad03"></li>
        <li class="ad04"></li>
        <li class="ad05"></li>
    </ul>
</section>
<section class="btn_box">
	<a href="javascript:void(0)" class="orange_btn"  onclick ="javascript:window.open('/logins/request_qq', '_blank', 'height=480,width=510,left=300,top=150');">QQ登录</a>
    <a href="http://mp.weixin.qq.com/s?__biz=MzA4MzYxOTAwMg==&mid=200241907&idx=1&sn=35680cdd9a534fad2a4b0e63acd5aa58#rd" class="yellow_btn">关注句子酷</a>
</section>
