<article>
	<section class="ad">
    	<ul>
        	<li><a href="javascript:void(0)"><img src="/assets/ad01.jpg"/></a></li>
        	<li><a href="javascript:void(0)"><img src="/assets/ad02.jpg"/></a></li>
        	<li><a href="javascript:void(0)"><img src="/assets/ad03.jpg"/></a></li>
            <li><a href="javascript:void(0)"><img src="/assets/ad04.jpg"/></a></li>
            <li><a href="javascript:void(0)"><img src="/assets/ad05.jpg"/></a></li>
    	</ul>
    </section>
    <section class="btn_box">
    	<a href="javascript:void(0)" class="orange_btn"  onclick ="javascript:window.open('/logins/request_qq', '_blank', 'height=480,width=510,left=300,top=150');">QQ登录</a>
        <a href="javascript:void(0)" class="yellow_btn">关注句子酷</a>
    </section>
</article>

