<section class="recommend">
	<h1>推荐好友，赚取金币</h1>
    <div class="money_icon"></div>
    <p>好友加入并完成第一个试炼，你就可以获得10个金币，上不封顶哦。</p>
</section>
<section class="btn_box">
	<a href="/users/oprate_guide" class="orange_btn">操作指南</a>
</section>