<section class="ad">
    <ul>
        <li class="ad01"></li>
        <li class="ad02"></li>
        <li class="ad03"></li>
        <li class="ad04"></li>
        <li class="ad05"></li>
    </ul>
</section>
<section class="btn_box">
    <a href="javascript:void(0)" class="orange_btn"  onclick ="javascript:window.open('/logins/request_qq', '_blank', 'height=480,width=510,left=300,top=150');">QQ登录</a>
    <p>不知道如何分享这个页面？</p>
    <a href="javascript:void(0)" class="yellow_btn">分享操作指南</a>
</section>
