<!DOCTYPE html>
<html>
<head>
  <title>SentencePractice</title>
  <%= stylesheet_link_tag    "application", "style", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <meta property="qc:admins" content="21202471054635677244554116375" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <script type="text/javascript">
	document.addEventListener('WeixinJSBridgeReady', function onBridgeReady() {
	    WeixinJSBridge.call('hideToolbar');
	});
  </script>
</head>
<body>
	<article>
		<%= yield %>
	</article>
</body>
</html>
