<!DOCTYPE html>
<html>
<head>
  <title>SentencePractice</title>
  <%= stylesheet_link_tag    "application", "style", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <meta property="qc:admins" content="212024773522126375" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="viewport" content="user-scalable=no, width=device-width">
  <script type="text/javascript">
	document.addEventListener('WeixinJSBridgeReady', function onBridgeReady() {
	    WeixinJSBridge.call('hideToolbar');
	});
  </script>
</head>
<body>
	<article>
		<%= yield %>
	</article>
  <div id="panel" style="display:none; position:absolute; top:0; left:0; background:rgba(0,0,0,0.3) " ></div>
</body>
</html>
