<!DOCTYPE html>
<html>
<head>
  <title>SentencePractice</title>
  <%= stylesheet_link_tag    "application", "style", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <meta property="qc:admins" content="57530434534635677244554116375" />
</head>

<body>

<%= yield %>

</body>
</html>
